// B U R K E   L A B   G E N O M I C   D A T A   P I P E L I N E
// =============================================================
// This is the config file. Please set the parameters to match your project specifics.


// Change the following parameters to correspond appropriately

// Select one organism by commenting out (appending double dash to the start of the line) the other organism
params.organism            = 'Saccharomyces_cerevisiae'
// params.organism         = 'Drosophila_melanogaster'

params.project                 = '2025_MULTI'           // This is your project directory (e.g. 2025_FLU)
params.pipeline_run            = '2025_12_05_run04'   // This is your pipeline run directory (e/g/ 2025_01_01_run01)


// Burke Lab Project Management parameters -- warning: risk of breaking things!
// These parameters respect a pre-determined structure. For example:
//   ProjectName (e.g. 2023_FLYLONG)/
//   ├── raw
//   │   ├── sample1_R1.fastq.gz
//   │   ├── sample1_R2.fastq.gz
//   │   ├── sample2_R1.fastq.gz
//   │   └── [...]
//   ├── vcf_files/
//   │   ├── pop1/
//   │   │   ├── pop1.vcf
//   │   │   └── pop1.vcf.tbi
//   │   └── [...]
//   └── pipeline_runs/
//       ├── 2025_01_01_round01
//       │   ├── results/
//       │   │   ├── filtered_snps.txt
//       │   │   └── [...]
//       │   ├── logs/
//       │   │   └── [...]
//       │   ├── reports/
//       │   │   ├── fastQC/
//       │   │   │   ├── pop1/
//       │   │   │   │   └── [...] 
//       │   │   │   └── [...]
//       │   │   ├── coverage/
//       │   │   │   ├── pop1/
//       │   │   │   │   └── [...] 
//       │   │   │   └── [...]
//       │   │   └── [...]
//       │   └── metadata.csv
//       └── 2025_02_01_round02
//
// !!! Note that directory parameters should end with a '/' !!!

params.lab_directory	         = '/nfs6/TMP/Burke_Lab/'
params.project_directory       = params.lab_directory + params.project + '/'
params.pipeline_run_directory  = params.project_directory + 'pipeline_runs/' + params.pipeline_run + '/'
params.metadata                = params.pipeline_run_directory + 'metadata_nextflow.csv'
params.results_directory       = params.pipeline_run_directory + 'results/'
params.samples_directory       = params.project_directory + 'raw/'
params.vcf_directory           = params.project_directory + 'vcf_files/'

params.gatk                    = '/local/cqls/opt/x86_64/bin/gatk'


// Server parameters -- warning: risk of breaking things!
// The parameters from now on should be adjusted based on your infrastructure
// You should not have to edit the following parameters very often
// These values are the ones used by the Burke Lab when working at OSU's Wildwood HPC

params.scratch_directory   = '/scratch/nextflow_pipeline_scratch/' 
params.debug               = false
params.max_cpus            = 248
params.max_memory          = '1.9T'

if (params.organism == 'Saccharomyces_cerevisiae') {

  params.snpeff_organism  = 'Saccharomyces_cerevisiae'
  params.reference_genome = params.lab_directory + 'shared_data/reference_genomes/S_cerevisiae/S288C_reference_sequence_R64-1-1_20110203.fasta'
  params.bqsr_vcf         = params.lab_directory + 'shared_data/reference_genomes/S_cerevisiae/1011Matrix_renamed.gvcf.gz'

} else if (params.organism == 'Drosophila_melanogaster') {

  params.snpeff_organism  = 'Drosophila_melanogaster'
  params.reference_genome = params.lab_directory + 'shared_data/reference_genomes/D_melanogaster/dmel-all-chromosome-r6.51.fasta'
  params.bqsr_vcf         = params.lab_directory + 'shared_data/reference_genomes/D_melanogaster/DGRP2.source_NCSU.dm6.final.vcf'
  
}

process {
    executor            = 'slurm'
    queue               = 'burke_lab'
    scratch             = '/scratch/nextflow_pipeline_scratch'

    // For I/O heavy, mostly single-threaded tasks (e.g. MergeSamFiles)
    withLabel: io_intensive {
      cpus              = 4
      memory            = '64G'
    }

    // For I/O heavy, mostly single-threaded tasks (e.g. MergeSamFiles)
    withLabel: highly_parallel {
      cpus              = 2
      memory            = '8G'
    }

    // For multi-threaded alignment and variant calling per sample (e.g., BwaMem, HaplotypeCaller)
    withLabel: parallel_per_sample {
      cpus              = 31     // Adjusted for 8 concurrent jobs (248 available / 8 jobs)
      memory            = '250G'
    }

    // For memory-intensive, single-threaded GATK tasks (e.g., BaseRecalibrator, SelectVariants)
    withLabel: high_mem_single {
      cpus              = 8
      memory            = '500G'
    }

    // For the final, cohort-wide joint-calling steps (e.g., GenomicsDBImport, GenotypeGVCFs)
    withLabel: joint_calling {
      cpus              = 64
      memory            = '1.8T'
    }
}

executor.queuesize	= 100

report {
  enabled = true
  file = "${params.results_directory}/reports/report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.results_directory}/reports/trace.txt"
  overwrite = true
}

timeline {
  enabled = true
  file = "${params.results_directory}/reports/timeline.html"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.results_directory}/reports/dag.html"
  overwrite = true
}

manifest {
  author      = 'Giovanni Alberto Crestani'
  name        = 'Burke Lab Genomics Pipeline'
  description = 'Pipeline does this and that'
  mainScript  = 'main.nf'
  version     = '1.0.3'
}