// Please set the parameters to match your project specifics

params {
    snpeff_organism     = 'Drosophila_melanogaster'
    metadata            = '/nfs3/IB/Burke_Lab/Crestani/yeast_run/metadata.csv'
    samples_directory   = '/nfs3/IB/Burke_Lab/Crestani/nextflow/fastqs/'
    reference_genome    = '/nfs3/IB/Burke_Lab/Crestani/nextflow/reference/dmel-all-chromosome-r6.51.fasta'
    bqsr_vcf            = '/nfs3/IB/Burke_Lab/Crestani/nextflow/reference/DGRP2.source_NCSU.dm6.final.vcf'
    results_directory   = '/nfs3/IB/Burke_Lab/Crestani/nextflow/results/'
    reports_directory   = '/nfs3/IB/Burke_Lab/Crestani/nextflow/results/reports'
    scratch_directory   = '/scratch'
    debug               = false
    
    max_cpus            = 250
    max_memory          = '2T'
    
    //Set this to true if you want a serialized run. This was created to work around the lack of scratch space.
    run_serialized      = false 
}

// There is probably no need to edit below this point

process {
    executor            = 'slurm'
    queue               = 'burke_lab'
    scratch             = '/scratch'

    withLabel: low_reqs {
      cpus              = 16
      memory            = '512G'
    }

    withLabel: medium_reqs {
      cpus              = 32
      memory            = '512G'
    }

    withLabel: high_reqs {
      cpus              = 240
      memory            = '2T'
    }
}

executor.queuesize	= 12

report {
  enabled = true
  file = "${params.reports_directory}/report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.reports_directory}/trace.txt"
  overwrite = true
}

timeline {
  enabled = true
  file = "${params.reports_directory}/timeline.html"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.reports_directory}/dag.html"
  overwrite = true
}

manifest {
  author      = 'Giovanni Alberto Crestani'
  name        = 'Burke Lab Genomics Pipeline'
  description = 'Pipeline does this and that'
  mainScript  = 'main.nf'
  version     = '1.0.0'
}